{% extends "base/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Logged Out" %}
{% endblock %}
{% block body %}
    {% blocktrans %}You have successfully logged out.{% endblocktrans %}

    <noscript><a href="{% url "homepage" %}">{% blocktrans %}Click here to proceed to home page.{% endblocktrans %}</a>
    </noscript>
{% endblock %}
{% block static %}
    <script>
        setTimeout(function () {
            window.location.href = "/"
        }, 1000)
    </script>
{% endblock %}