{% extends 'base/base.html' %}
{% load bootstrap4 i18n %}
{% block title %}
    {% trans "Events" %}
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    {{ object.name }}
                    <span class="float-right">
                    {% if object.owner == request.user %}
                        <a class="btn btn-sm btn-primary" href="{% url "event_remove" event_id=object.id %}"><small>
                                {% trans "Remove" %}
                        </small></a>
                        <a class="btn btn-sm btn-primary" href="{% url "event_edit" event_id=object.id %}"><small>
                                {% trans "Edit" %}
                        </small></a>
                    {% endif %}
                    </span>
                </div>
                <div class="card-body">
                    <p>{% trans "Location" %}: {{ object.location }}</p>
                    <p>{% trans "Date" %}: {{ object.date }}</p>
                    <p>{% trans "Description" %}: {{ object.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <h4>{% trans "Teams" %}</h4>
            <a class="btn btn-primary btn-sm" href="{% url "team_create" event_id=object.id %}">{% trans "Create" %}</a>
            <br>
            <br>
            {% for team in object.team_set.all %}
                <div class="card">
                    <div class="card-header">
                        <a href="{% url "team_detail" event_id=object.id team_id=team.id %}">{{ team.name }}</a>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for part in team.participation_set.all %}
                                <li>{% if team.owner == part.participant %}{% trans "Leader" %}: {% else %}{% trans "Participant" %}: {% endif %}<a href="{% url "user_detail" pk=part.participant.id %}">{{ part.participant.username }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}