{% extends 'base/base.html' %}
{% load bootstrap4 i18n %}
{% block title %}
    {% trans "Events" %}
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-1 offset-11">
                    <a class="btn btn-secondary btn-sm" href="{% url "event_create" %}">{% trans "Create" %}</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        {% for event in object_list %}
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <a href="{% url "event_detail" event_id=event.id %}">{{ event.name }}</a>
                    </div>
                    <div class="card-body">
                        <p>{% trans "Location" %}: {{ event.location }}</p>
                        <p>{% trans "Date" %}: {{ event.date }}</p>
                        <p>{% trans "Description" %}: {{ event.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}