{% extends 'base/base.html' %}
{% load bootstrap4 i18n %}
{% block title %}
    {% trans "Events" %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ team.name }}
                </div>
                <div class="card-body">
                    <ul>
                        {% for part in team.participation_set.all %}
                            <li>{% if team.owner == part.participant %}{% trans "Leader" %}:
                                {% else %}{% trans "Participant" %}: {% endif %}
                                <a href="{% url "user_detail" pk=part.participant.id %}">{{ part.participant.username }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if request.user == team.owner %}
                        <a class="btn btn-secondary"
                           href="{% url "team_disband" event_id=team.event_id team_id=team.id %}">{% trans "Disband" %}</a>
                        <a class="btn btn-secondary"
                           href="{% url "team_edit" event_id=team.event_id team_id=team.id %}">{% trans "Edit" %}</a>
                    {% elif request.user.id not in users %}
                        <a class="btn btn-secondary"
                           href="{% url "team_join" event_id=team.event_id team_id=team.id %}">{% trans "Join" %}</a>
                    {% else %}
                        <a class="btn btn-secondary"
                           href="{% url "team_leave" event_id=team.event_id team_id=team.id %}">{% trans "Leave" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}