{% extends "base/base.html" %}
{% load bootstrap4 i18n %}
{% block title %}
    {% trans "New Event" %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-4 offset-4">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% if object %}
                    {% trans "Update" as btn_content %}
                {% else %}
                    {% trans "Create" as btn_content %}
                {% endif %}
                {% bootstrap_button content=btn_content button_type="submit" button_class="btn-primary btn-block" %}
            </form>
        </div>
    </div>
{% endblock %}

