{% extends "base/base.html" %}
{% load bootstrap4 i18n %}
{% block title %}
    {% trans "Are you sure?" %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-4 offset-4">
            {% trans action as action_trans %}
            {% blocktrans with action_trans=action_trans|capfirst %}You are going to do <span class="text-info">{{ action_trans }}</span> action on
                <span class="text-info">{{ object }}</span> object. <strong class="text-warning">Are you sure?</strong>{% endblocktrans %}
            <form method="GET">
                {% trans "Yes" as btn_content %}
                {% trans "No" as btn_content2 %}
                {% bootstrap_button content=btn_content button_type="submit" button_class="btn-primary btn-block" name="valid" value="true" %}
                {% bootstrap_button content=btn_content2 button_type="submit" button_class="btn-primary btn-block" name="valid" value="false" %}
            </form>
        </div>
    </div>
{% endblock %}

