{% extends 'base/base.html' %}
{% load bootstrap4 i18n %}
{% block title %}
    {% trans "New Item" %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-4 offset-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% trans "Create" as btn_content %}
                {% bootstrap_button content=btn_content button_type="submit" button_class="btn-primary btn-block" %}
            </form>
        </div>
    </div>
{% endblock %}
