{% extends "base/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "User Details" %}
{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {% trans "User Details" %}
                    {% if is_me %}
                        <span class="float-right">
                        <a class="btn btn-secondary btn-sm" href="{% url "update_profile" %}">
                            <small>{% trans "Update" %}</small>
                        </a>
                        </span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p>{% trans "Username" %}: {{ user_detail.username }}</p>
                    <p>{% trans "First Name" %}: {{ user_detail.first_name }}</p>
                    <p>{% trans "Last Name" %}: {{ user_detail.last_name }}</p>
                    <p>{% trans "Last Login" %}: {{ user_detail.last_login }}</p>
                    <p>{% trans "Birthday" %}: {{ user_detail.birthday }}</p>
                    <p>{% trans "Telephone" %}: {{ user_detail.telephone }}</p><br>
                </div>
                {% if user_detail.image %}
                    <img class="card-img-bottom" src="{{ user_detail.image.url }}">
                {% endif %}
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {% trans "Character Details" %}
                    {% if is_me %}
                        <span class="float-right">
                        <a class="btn btn-secondary btn-sm" href="{% url "update_character" %}">
                            <small>{% trans "Update" %}</small>
                        </a>
                        </span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p>{% trans "Name" %}: {{ user_detail.character_name }}</p>
                    <p>{% trans "Class" %}: {{ user_detail.character_class }}</p>
                    <p>{% trans "Biography" %}: {{ user_detail.character_biography }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
