{% extends "base/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Messages" %}
{% endblock %}
{% block body %}
    <div class="row">
        {% for other_user,messages in request.user.get_message_groups.items %}
            <div class="col-2">
                <div class="card">
                    <div class="card-header">
                        <a href="{% url "messages_detail" user_id=other_user.id %}"><h4>{{ other_user.username }}</h4>
                        </a>
                    </div>
                    <div class="card-body">
                        <p>
                            {% with messages|last as last_message %}

                                {% if last_message.sender == request.user %}
                                    {% trans "Me" %} -
                                {% else %}
                                    {{ last_message.sender }} -
                                {% endif %}
                                {{ last_message.message }}
                                {% if last_message.seen %}
                                    <span class="text-info">&check;&check;</span>
                                {% else %}
                                    <span class="text-secondary">&check;</span>
                                {% endif %}
                            {% endwith %}

                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}